html, body {
    margin: 0;
    padding: 0;
    background-color: #333333;
  }
  canvas {
    display: block;
  }
  
  input[type="text"] {
    border: none;
    outline: none;
  }
  
  input[type="text"]:focus {
    border: none;
    outline: none;
  }

  button {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #909090;
    outline: none;
    border: none;
  }
  